# Servidor / portas
APP_PORT=80
PAINEL_PORT=8080
TRIAGEM_PORT=8081
MERCURE_PORT=3000
TZ=America/Sao_Paulo
APP_LANGUAGE=pt_BR
APP_ENV=prod

# Banco
DB_NAME=novosga2
DB_USER=novosga
DB_PASSWORD=MySQL_App_P4ssW0rd
DB_ROOT_PASSWORD=MySQL_r00t_P4ssW0rd

# Admin NovoSGA (trocar em produção)
NOVOSGA_ADMIN_USERNAME=admin
NOVOSGA_ADMIN_PASSWORD=123456
NOVOSGA_ADMIN_FIRSTNAME=Administrador
NOVOSGA_ADMIN_LASTNAME=SGS

# Unidade / filas
NOVOSGA_UNITY_NAME=Cartorio SGS
NOVOSGA_UNITY_CODE=SGS01
NOVOSGA_NOPRIORITY_NAME=Normal
NOVOSGA_NOPRIORITY_DESCRIPTION=Atendimento normal
NOVOSGA_PRIORITY_NAME=Prioridade
NOVOSGA_PRIORITY_DESCRIPTION=Atendimento prioritario
NOVOSGA_PLACE_NAME=Guiche

# Mercure
# IMPORTANTE: MERCURE_PUBLIC_URL deve ser o IP/hostname acessível pelos navegadores (TV, totem, guichês)
# Exemplo no cliente: http://192.168.18.176:3000/.well-known/mercure
MERCURE_PUBLIC_URL=http://127.0.0.1:3000/.well-known/mercure
MERCURE_JWT_SECRET=!ChangeThisMercureHubJWTSecretKey!

# Impressora (opcional — Ethernet)
PRINTER_IP=
PRINTER_PORT=9100
PRINTER_NAME=Bematech-MP4200
